<?xml version="1.0" ?>
<robot name="uplate">
    <material name="mat">
        <texture filename="uplate.mtl"/>
    </material>

    <link name="base_link"/>

    <!--    Define the mounting plates for the robot arms-->
    <link name="uplate_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="uplate.obj" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
<!--        <collision>-->
<!--            <origin xyz="0.00725 0 0" rpy="0 0 0"/>-->
<!--            <geometry>-->
<!--                <box size="0.0142 0.1285 0.08548"/>-->
<!--            </geometry>-->
<!--        </collision>-->
        <inertial>
            <mass value="0.100"/>
        </inertial>
    </link>

    <joint name="base_link_2_uplate_link" type="fixed">
        <parent link="base_link"/>
        <child link="uplate_link"/>
        <origin xyz="0 0.0 0.00" rpy="0 0 0"/>
    </joint>

<!--    Virtual frames -->
</robot>