<?xml version="1.0"?>
<robot name="3004__dark_green">
  <link name="3004__dark_green">
    <inertial>
      <origin xyz="-0.000000 -0.000000 -0.004216" rpy="0 0 0"/>
      <mass value="0.001444"/>
      <inertia ixx="2.152313518e-08" ixy="-1.201592931e-25" ixz="1.411378927e-24" iyy="4.427519284e-08" iyz="6.102688485e-25" izz="3.763360780e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/3004.obj" scale="1 1 1"/>
      </geometry>
      <material name="3004__dark_green_color">
        <color rgba="0.080 0.290 0.150 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/3004_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
