<?xml version="1.0"?>
<robot name="3022__tan">
  <link name="3022__tan">
    <inertial>
      <origin xyz="0.000000 -0.000000 -0.000928" rpy="0 0 0"/>
      <mass value="0.001207"/>
      <inertia ixx="2.656089744e-08" ixy="5.654554969e-26" ixz="-3.039323296e-25" iyy="2.656089744e-08" iyz="2.687098887e-25" izz="4.880676498e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/3022.obj" scale="1 1 1"/>
      </geometry>
      <material name="3022__tan_color">
        <color rgba="0.860 0.770 0.610 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/3022_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
