<?xml version="1.0"?>
<robot name="30586__light_bluish_gray">
  <link name="30586__light_bluish_gray">
    <inertial>
      <origin xyz="-0.000000 -0.004472 -0.000823" rpy="0 0 0"/>
      <mass value="0.005268"/>
      <inertia ixx="1.286283531e-07" ixy="-1.659087535e-23" ixz="3.962902132e-24" iyy="1.794058993e-06" iyz="2.013253838e-09" izz="1.902996144e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/30586.obj" scale="1 1 1"/>
      </geometry>
      <material name="30586__light_bluish_gray_color">
        <color rgba="0.630 0.650 0.650 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/30586_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
