<?xml version="1.0"?>
<robot name="3068__tan">
  <link name="3068__tan">
    <inertial>
      <origin xyz="-0.000000 -0.000000 -0.001591" rpy="0 0 0"/>
      <mass value="0.000855"/>
      <inertia ixx="1.885441186e-08" ixy="7.659931877e-43" ixz="5.050635341e-26" iyy="1.885441186e-08" iyz="2.878727356e-26" izz="3.626377789e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/3068.obj" scale="1 1 1"/>
      </geometry>
      <material name="3068__tan_color">
        <color rgba="0.860 0.770 0.610 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/3068_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
