<?xml version="1.0"?>
<robot name="3070__reddish_brown">
  <link name="3070__reddish_brown">
    <inertial>
      <origin xyz="0.000000 0.000000 -0.001424" rpy="0 0 0"/>
      <mass value="0.000176"/>
      <inertia ixx="1.217594942e-09" ixy="-0.000000000e+00" ixz="1.413638742e-26" iyy="1.217594942e-09" iyz="-0.000000000e+00" izz="2.145124352e-09"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/3070.obj" scale="1 1 1"/>
      </geometry>
      <material name="3070__reddish_brown_color">
        <color rgba="0.430 0.230 0.150 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/3070_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
