<?xml version="1.0"?>
<robot name="32952__tan">
  <link name="32952__tan">
    <inertial>
      <origin xyz="0.000000 -0.000556 -0.007550" rpy="0 0 0"/>
      <mass value="0.001296"/>
      <inertia ixx="3.939552328e-08" ixy="1.413638742e-26" ixz="-2.959806116e-25" iyy="3.694083862e-08" iyz="-3.242717252e-10" izz="1.553756223e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/32952.obj" scale="1 1 1"/>
      </geometry>
      <material name="32952__tan_color">
        <color rgba="0.860 0.770 0.610 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/32952_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
