<?xml version="1.0"?>
<robot name="35480__dark_bluish_gray">
  <link name="35480__dark_bluish_gray">
    <inertial>
      <origin xyz="0.000000 0.000000 -0.000979" rpy="0 0 0"/>
      <mass value="0.000524"/>
      <inertia ixx="3.191140984e-09" ixy="-2.827277484e-26" ixz="-1.413638742e-25" iyy="9.817876069e-09" iyz="1.941289219e-26" izz="1.119755919e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/35480.obj" scale="1 1 1"/>
      </geometry>
      <material name="35480__dark_bluish_gray_color">
        <color rgba="0.320 0.350 0.360 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/35480_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
