<?xml version="1.0"?>
<robot name="3623__tan">
  <link name="3623__tan">
    <inertial>
      <origin xyz="0.000000 0.000000 -0.000975" rpy="0 0 0"/>
      <mass value="0.000885"/>
      <inertia ixx="5.843058091e-09" ixy="-5.654554969e-26" ixz="6.785465962e-25" iyy="4.249547880e-08" iyz="-7.055943814e-26" izz="4.527659357e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/3623.obj" scale="1 1 1"/>
      </geometry>
      <material name="3623__tan_color">
        <color rgba="0.860 0.770 0.610 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/3623_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
