<?xml version="1.0"?>
<robot name="37352__light_bluish_gray">
  <link name="37352__light_bluish_gray">
    <inertial>
      <origin xyz="-0.000000 0.000486 -0.005462" rpy="0 0 0"/>
      <mass value="0.001057"/>
      <inertia ixx="1.177373238e-08" ixy="1.558971954e-25" ixz="1.405592021e-24" iyy="2.935966530e-08" iyz="-1.564285637e-09" izz="2.751637272e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/37352.obj" scale="1 1 1"/>
      </geometry>
      <material name="37352__light_bluish_gray_color">
        <color rgba="0.630 0.650 0.650 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/37352_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
