<?xml version="1.0"?>
<robot name="63864__tan">
  <link name="63864__tan">
    <inertial>
      <origin xyz="0.000000 0.000000 -0.001588" rpy="0 0 0"/>
      <mass value="0.000640"/>
      <inertia ixx="3.913480723e-09" ixy="-2.827277484e-26" ixz="-2.827277484e-26" iyy="3.113453416e-08" iyz="-3.058846278e-25" izz="3.397001789e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/63864.obj" scale="1 1 1"/>
      </geometry>
      <material name="63864__tan_color">
        <color rgba="0.860 0.770 0.610 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/63864_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
