<?xml version="1.0"?>
<robot name="973pb2066c01__light_bluish_gray">
  <link name="973pb2066c01__light_bluish_gray">
    <inertial>
      <origin xyz="-0.000000 -0.000000 -0.005464" rpy="0 0 0"/>
      <mass value="0.001692"/>
      <inertia ixx="4.425486638e-08" ixy="2.473867799e-26" ixz="1.994942606e-25" iyy="5.928018447e-08" iyz="3.278913035e-24" izz="3.221632152e-08"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/visual/973.obj" scale="1 1 1"/>
      </geometry>
      <material name="973pb2066c01__light_bluish_gray_color">
        <color rgba="0.630 0.650 0.650 1.000"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/collision/973_hull.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
